/* Sidebar.css */
.sidebar {
    width: 60px;
    height: 100vh;
    position: fixed;   /* fixed on the left */
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #03090b, #019c7f);
    color: white;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    z-index: 1000;      /* stay on top */
}


.logo {
  font-size: 28px;
  margin-bottom: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
  transition: background 0.3s;
}

nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.fa-icon {
  font-size: 20px;
}
